@charset "UTF-8";
body {
  font-family: "HelveticaNeue", "Helvetica", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, sans-serif, "Lucida Grande", "ＭＳ Ｐゴシック";
  font-size: 14px;
  -webkit-text-size-adjust: none;
  letter-spacing: 0.05em;
  line-height: 1.8;
  color: #555555;
  -webkit-font-smoothing: antialiased;
}

.ie7 body {
  font-family: "HelveticaNeue", "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック";
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-weight: 600;
}

h6 {
  font-size: 10px;
  font-weight: 600;
}

select, input, button, textarea, button {
  font-family: "HelveticaNeue", "ヒラギノ角ゴ Pro W3", "Lucida Grande", "Hiragino Kaku Gothic Pro", arial, helvetica, clean, sans-serif;
}

::-webkit-input-placeholder {
  color: #bbbbbb;
}

::-moz-placeholder {
  color: #bbbbbb;
}

:-moz-placeholder {
  color: #bbbbbb;
}

:-ms-input-placeholder {
  color: #bbbbbb;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-control::-webkit-input-placeholder {
  color: #bbbbbb;
}
.form-control::-moz-placeholder {
  color: #bbbbbb;
}
.form-control:-moz-placeholder {
  color: #bbbbbb;
}
.form-control:-ms-input-placeholder {
  color: #bbbbbb;
}

.btn {
  padding: 10px 16px;
  min-width: 80px;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  letter-spacing: .05em;
}
.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.4;
}
.btn.btn-mini {
  padding: 5px 8px;
  font-size: 12px;
  min-width: 50px;
}
.btn.btn-sm {
  padding: 8px 12px;
  font-size: 13px;
  min-width: 65px;
}
.btn.btn-lg {
  padding: 12px 25px;
  font-size: 18px;
  min-width: 170px;
}
.btn.btn-king {
  padding: 17px 26px;
  font-size: 20px;
  min-width: 210px;
}

.btn-main {
  color: white;
  border: 0;
  border-bottom: 1px solid #77b220;
  border-radius: 2px;
  background: #81c320;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk3YzkwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgxYzMyMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97c900), color-stop(100%, #81c320));
  background-image: -webkit-linear-gradient(top, #97c900 0%, #81c320 100%);
  background-image: -moz-linear-gradient(top, #97c900 0%, #81c320 100%);
  background-image: -o-linear-gradient(top, #97c900 0%, #81c320 100%);
  background-image: linear-gradient(top, #97c900 0%, #81c320 100%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF97C900', endColorstr='#FF81C320');
  -webkit-box-shadow: rgba(0, 0, 1, 0.2) 0 1px 1px, rgba(255, 255, 255, 0.35) 0 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 1, 0.2) 0 1px 1px, rgba(255, 255, 255, 0.35) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 1, 0.2) 0 1px 1px, rgba(255, 255, 255, 0.35) 0 1px 0 inset;
  margin: 0 5px;
}
.btn-main:hover, .btn-main:focus, .btn-main:active {
  opacity: 0.8;
  color: white;
  border-bottom-color: #77b220;
}
.btn-main:active {
  background-color: #679B1B;
}

.btn-poco {
  color: #757575;
  border: 1px solid #bfcdcd;
  border-radius: 3px;
  background: #efefef;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f9f9f9), color-stop(100%, #efefef));
  background-image: -webkit-linear-gradient(top, #f9f9f9 20%, #efefef 100%);
  background-image: -moz-linear-gradient(top, #f9f9f9 20%, #efefef 100%);
  background-image: -o-linear-gradient(top, #f9f9f9 20%, #efefef 100%);
  background-image: linear-gradient(top, #f9f9f9 20%, #efefef 100%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF9F9F9', endColorstr='#FFEFEFEF');
  margin: 0 5px;
}
.btn-poco:hover, .btn-poco:focus, .btn-poco:active {
  opacity: 0.8;
}
.btn-poco:active {
  background: #f9f9f9;
}

.btn-peta {
  color: #757575;
  background: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: none;
  margin: 0 5px;
}

.btn-emergency {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-peta:hover, .btn-peta:focus, .btn-peta:active {
  opacity: 0.8;
}

.modal {
  line-height: 1.42857143;
  position: static;
}
.modal .modal-header {
  background-color: #f5f5f5;
  color: gray;
  text-align: center;
  padding: 15px 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal .modal-header .modal-title {
  font-size: 18px;
  font-weight: 700;
}
.modal .modal-body {
  padding: 30px 45px;
}
.modal .modal-footer {
  padding: 15px 25px;
}

@media screen and (max-width: 510px) {
  .modal .modal-body {
    padding: 30px 10px;
  }
}
.title {
  margin: 40px 0 1em;
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f0f0;
}

.sub-title {
  margin: 40px 0 1.25em;
  padding: 5px 5px 5px 0.65em;
  border-left: 5px solid #81c320;
}

.dot-line {
  border-bottom: 1px dotted #d8d8d8;
}

.tab-nav {
  margin: 20px 0 50px;
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
  display: block;
}
.tab-nav li {
  display: inline-block;
}
.tab-nav li a {
  color: #bababa;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 50px;
  margin-right: 10px;
  margin-bottom: -2px;
  padding: 0 25px;
  display: inline-block;
  min-width: 110px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  outline: 0;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
.tab-nav li.active > a {
  color: #555555;
  font-weight: 600;
  border-color: #81c320;
}
.tab-nav li:hover > a {
  border-color: #81c320;
}

@media screen and (max-width: 410px) {
  .tab-nav {
    padding-bottom: 20px;
    display: table;
  }
  .tab-nav li {
    width: 50%;
    text-align: center;
  }
  .tab-nav li a {
    padding: 0 9px;
    margin-right: 0;
  }
}
.label {
  color: white;
  font-weight: 600;
  font-size: .75em;
  padding: .2em .6em;
  margin-right: .1em;
  border-radius: 2px;
}
.label.label-default {
  background-color: #bababa;
  border: 1px solid #bababa;
}
.label.label-emergency {
  background-color: #cc0000;
  border-color: #cc0000;
}
.label.label-attention {
  background-color: #ff9b00;
  border-color: #ff9b00;
}
.label.label-info {
  background-color: #45b3d8;
  border-color: #45b3d8;
}
.label.label-border {
  font-weight: 600;
  font-size: .75em;
  padding: .2em .6em;
  margin-right: .1em;
  border-radius: 2px;
  border: 1px solid transparent;
  background-color: transparent;
  border-color: #757575;
  color: #555555;
}

.breadcrumb {
  margin: 20px 0;
  background-color: white;
  font-size: 12px;
  padding: 0;
}
.breadcrumb a {
  color: #0f7697;
}
.breadcrumb .active {
  color: #555555;
}

.popover-content {
  color: #555;
  font-size: 12px;
  padding: 15px;
}

.popover-title {
  padding: 5px 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ebebeb;
  border-radius: 3px 3px 0 0;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.panel {
  border-radius: 3px;
}

.panel-title {
  font-size: 15px;
}

.panel-body {
  font-size: 13px;
  line-height: 1.6;
}

.navbar {
  min-height: 45px;
  margin: 0;
}

.navbar-default {
  background-color: white;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.navbar-default .container-header {
  max-width: 990px;
  margin: 0 auto;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
  padding: 14px 10px;
  height: 45px;
  font-size: 13px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  color: #333333;
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > li > .avatar {
  padding: 5px 10px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 280px;
}
.navbar-default .navbar-nav > li > .avatar .avatar-image {
  border-radius: 50%;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  vertical-align: middle;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
  color: #333333;
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
  margin: 6px 15px 5px 0;
}
.navbar-default div.message-notification {
  width: 40px;
  float: right;
  margin: 12px;
}
.navbar-default div.message-status-unread {
  top: 9px;
  right: 87px;
}

.navbar-brand {
  position: relative;
  padding: 10px 30px 0px 15px;
  height: auto;
}
.navbar-brand img {
  width: 75px;
}

.navbar-nav > li:last-child {
  margin-right: 0;
}
.navbar-nav > li > .navbar-btn {
  width: 116px;
  margin-top: 27px;
}

.dropdown-menu {
  top: 45px;
  border-top: none;
}
.dropdown-menu > li > a {
  font-size: 13px;
  padding: 10px 20px;
}

.admin-mode .navbar-fixed-top {
  top: 30px;
}

.header-label-new {
  font-weight: 700;
  background-color: #22BEB3;
  color: white;
  line-height: 1.5;
  padding: 1px 4px 2px;
  border-radius: 2px;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: text-top;
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > li > .avatar {
    max-width: 100%;
    padding-left: 25px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #333333;
    padding: 10px 25px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #f4f4f4;
  }
  .navbar-default .navbar-collapse {
    width: 80%;
    position: absolute;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px;
    background-color: white;
  }

  .global-nav {
    border-bottom: 1px solid #eee;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    padding: 8px 15px 8px 25px;
  }
}
/* Message parts */
.fa-envelope-o {
  color: #5A5A5A;
  font-size: 15px;
}

.fa-envelope-o:hover {
  color: #5A5A5A;
  font-size: 15px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  position: relative;
  left: 1px;
}

.message-status-unread {
  position: absolute;
  top: 11px;
  right: 2px;
  z-index: 2;
  width: 13px;
  height: 13px;
  color: white;
  text-align: center;
  background-color: #45b3d8;
  background-repeat: repeat-x;
  background-clip: padding-box;
  border-radius: 50%;
  border: 2px solid white;
}

.header-sub {
  height: 27px;
  padding-top: 3px;
  background: white;
  color: #333333;
  border-bottom: 1px solid #d4d4d4;
  position: fixed;
  top: 45px;
  z-index: 10;
  width: 100%;
  left: 200px;
}
.header-sub ul {
  padding: 0px 20px;
  list-style: none;
}
.header-sub ul > li > a {
  color: #0f7697;
}

.main {
  margin-top: 45px;
}

.main-container {
  margin: 0;
}

.creator .main-container {
  margin-bottom: 100px;
}

.production .main {
  margin-top: 46px;
}
.production .main-container {
  margin-top: 65px;
  margin-left: 200px;
}

.main-header > .nav-tabs {
  padding-top: 5px;
  border-bottom: 0;
  text-align: center;
  background: #f3f3f3;
}
.main-header > .nav-tabs > li {
  float: inherit;
  display: inline-block;
}
.main-header > .nav-tabs > li > a {
  border: 0;
  font-size: 85%;
  font-weight: 100;
}
.main-header > .nav-tabs > li > a:hover {
  border: 0;
}
.main-header > .nav-tabs > li.active > a {
  color: #81c320;
}
.main-header > .header-title {
  position: relative;
  padding: 12px;
  box-shadow: 0 1px 1px #dfdfdf;
  background: white;
}
.main-header > .header-title h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 85%;
  font-weight: 600;
  color: #737373;
}
.main-header > .header-title .header-back {
  position: absolute;
  top: 10px;
  left: 12px;
}

.notification {
  position: relative;
  margin-top: 7px;
}
.notification .notification-title {
  display: inline-block;
  padding: 2px 10px 0;
  border: 1px solid white;
  border-radius: 4px;
  font-size: small;
  cursor: pointer;
}
.notification .notification-icon {
  background-image: url(/static/commons/img/icon-header-notification.png);
  height: 25px;
  width: 20px;
  display: inline-block;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: 2px;
}
.notification .notification-icon:hover {
  background-image: url(/static/commons/img/icon-header-notification-hover.png);
}
.notification .notification-mark {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: -3px;
  background: #e1435d;
  border-radius: 10px;
}
.notification .notification-mark.show {
  display: block;
}
.notification .notification-contents {
  display: none;
  position: absolute;
  top: 42px;
  right: -20px;
  width: 340px;
  background: white;
  box-shadow: 0 1px 7px rgba(59, 60, 63, 0.35);
}
.notification .notification-contents::before {
  content: "";
  position: absolute;
  top: -23px;
  right: 10%;
  border: 12px solid transparent;
  border-bottom: 12px solid #efefef;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.notification .notification-contents h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #555;
  font-size: medium;
  line-height: inherit;
  background: #efefef;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
.notification .notification-contents h2 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 100%;
}
.notification .notification-contents ul {
  height: 360px;
  padding: 0;
  list-style: none;
  overflow: scroll;
  border: 1px solid #ebebeb;
  color: #45494b;
  font-size: small;
}
.notification .notification-contents li {
  padding: 20px;
  border-top: 1px solid #ebebeb;
}
.notification .notification-contents li:first-child {
  border-top: none;
}
.notification .notification-contents .notification-header .date {
  float: left;
  width: 60%;
  color: #a1a1a1;
  margin-bottom: 10px;
}
.notification .notification-contents .notification-header .new {
  display: none;
  float: right;
  width: 38%;
  color: #e1435d;
  text-align: right;
}
.notification .notification-contents .description a {
  color: #81c320;
  text-decoration: underline;
}
.notification .notification-contents .description a:hover {
  color: #b1e564;
  background: transparent;
}

.admin-notification-header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  font-size: 90%;
  z-index: 1200;
  background-color: #FFCC00;
  padding: 8px 50px;
  border-bottom: 1px solid #DFA900;
}
.admin-notification-header p {
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}

.admin-mode .header {
  top: 30px;
}
.admin-mode .main {
  margin-top: 75px;
}
.admin-mode .header-sub {
  top: 75px;
}
.admin-mode.production .main {
  margin-top: 102px;
}
.admin-mode.production .side-nav {
  margin-top: 75px;
}


/* guide用記述　*/

.guide-btn {
  margin: 5px 0 0 20px;
}

.btn-emergency {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

a {
  color: #0F7697;
  text-decoration: none;
}
